<!DOCTYPE html>
<html>
{{> head.html}}

<body>
{{> navigation.html}}
<div class="banner banner-about"></div>

<div class="container">
	<div class="page-header">
  		<h1 class="title">Qui suis-je?</h1>
	</div>

	<div class="row">
		<div class="col-sm-7">
			<p>Je suis une personne éternellement passionée par le fait-main et pour les arts créatifs. Du crayon à la peinture, j’aime tout tester. Je suis une vraie touche à tout.</p>
			<p>J'adore créer, tester et aprendre de nouvelles choses, des nouvelles techniques et partager entre amis...</p>
			<p>Maman poule de deux enfants très petits, j'adore câliner, profiter des temps libres pour entrer dans leur petit monde imaginaire remplit de nouvelles histoires! Et pour cela il faut créer et recréer. Entre la cuisine et les papillons tout est permis!.</p>
			<p>Ce site est pour moi un aboutissement de mon rêve. Je rassemble avec les amis les activités, que nous faisons ensemble, mes astuces, les idées créatives d'autres blogueuses et aussi les aventures créatives qui se passent chez nous et dans le quartier!</p>
			<p>Bienvenu dans mon univers!</p>
		</div>
		<div class="col-sm-5">
      		{{> me.html}}
		</div>
	</div>
</div>

{{> footer.html}}
{{> scripts.html}}

</body>
</html>